@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.app, .meme {
  text-align: center;
}

.meme {
  margin-top: 50px;
}

.bottom-left {
  position: fixed;
  bottom: 0;
}

#header {
  margin-top: 20px;
  font-size: 45px;
  font-family: 'Oswald';
}

h1, h2, h3, h4, h5, h6, p, button {
  color: white;
}

button {
  background-color: #497ad6;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 170px;
  font-size: 20px;
  outline: none;
  border: none;
  transition: 0.4s;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
  background-color: #282c42;
  
  /* Variables */
  --dogeblood: #f64c72;
}

img {
  border: none;
  outline: none;
}